/*.App {*/
  /*text-align: center;*/
/*}*/

/*.App-logo {*/
  /*animation: App-logo-spin infinite 20s linear;*/
  /*height: 80px;*/
/*}*/

/*.App-header {*/
  /*background-color: #222;*/
  /*height: 150px;*/
  /*padding: 20px;*/
  /*color: white;*/
/*}*/

/*.App-intro {*/
  /*font-size: large;*/
/*}*/

.container {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  margin-bottom: -4px;
  height: 100%;
  width: 100%;
  float: left;
}

.tile {
  float: left;
  width: 33.33%;
  background-color: black;
}

.floor-tile {
  width: 100%;
  height: 100%;
  visibility: hidden;
}

[aria-hidden="false"] .floor-tile {
  visibility: visible;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
